
.cards {
    margin-left: 20px;
    height: auto;
    width: 1100px;
    display: flex;
}

.card {
    margin-left: 65px;
}

.card-body {
    background-color: white;
}

.text1 {
    padding-bottom: 20px;
}
.text2 {
    padding-bottom: 20px;
}
p.solid {
    margin:20px;
    color:white;
}

.carousel-inner {
    height: auto;
    width: 900px;
    margin-left: 160px;
}
#shopping {
    margin:8px;
    text-align: right;
    width: 25px;
    height: 25px;
    background: url(shop.png) 10px 10px;
}

.shoppingbutton {
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
}
.title2{
    font-size:20px;
}
.footer {
    height: 200px;
    width: auto;
    background-color: black;
}
p.foot{
    padding-left:30px;
    color:white;
}
#logo1 {
    margin: 8px;
    text-align: right;
    width: 120px;
    height: 80px;
    }
#logo2 {
    margin: 8px;
    text-align: right;
    width: 120px;
    height: 80px;
    }
#logo3 {
    margin: 8px;
    text-align: right;
    width: 120px;
    height: 80px;
    }
#logo4 {
    margin: 8px;
    text-align: right;
    width: 150px;
    height: 80px;
    }
#logo5 {
    margin: 8px;
    text-align: right;
    width: 120px;
    height: 80px;
    }
#logo6 {
    margin: 8px;
    text-align: right;
    width: 160px;
    height: 80px;
}
#logo7 {
    margin: 8px;
    text-align: right;
    width: 120px;
    height: 80px;
}
#logo8 {
    margin: 8px;
    text-align: right;
    width: 120px;
    height: 80px;
}